:root {
  --main-color: #fa541c;
  --white-color: #fff8f6;
  --text-color: #3d3737;
  --gray-text: #85858a;
  --width-container: 1280px;
  --background: #fafafa;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #c0b4b4;
  margin-top: 18px;
}

.cart-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 10px;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.check-label {
  margin-right: 10px;
}

.check-input {
  margin-right: 5px;
}

.product-details {
  display: flex;
  align-items: center;
}

.product-image img {
  max-width: 100px;
  height: auto;
}

.product-info {
  margin-left: 10px;
}

.product-name {
  margin: 0;
}

.product-color {
  margin: 5px 0;
  color: #888;
}

.product-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.quantity-button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity {
  margin: 0 10px;
}

.price-details {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.cart {
  width: 1280px;
  margin: 0 auto;
}
.cart-detail {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.check-out-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
