.custom-main {
  padding-top: 75px;
}

.custom-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.custom-order {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-order-history h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.custom-order-box {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.custom-order-number-title {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.custom-order-description {
  font-size: 14px;
  color: #666;
}

.custom-order-list {
  margin-top: 20px;
}

.custom-order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.custom-order-thumb img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 5px;
}

.custom-order-content {
  flex: 1;
  margin-left: 15px;
}

.custom-order-content-heading {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.custom-order-content-color span {
  color: #888;
}

.custom-order-content-quantity span {
  color: #333;
}

.custom-order-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.custom-sort-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.custom-prev, .custom-next {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.custom-prev img, .custom-next img {
  height: 20px;
}

.custom-sort-buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.custom-sort-buttons button a {
  text-decoration: none;
  color: #333;
}

.custom-sort-buttons button:hover {
  background-color: #ddd;
  color