@media (max-width: 767px) {
  /* Điều chỉnh kiểu dáng và bố cục cho màn hình điện thoại di động */
  .site .site-info .site-desc {
    display: none;
  }
  .site {
    flex-direction: column-reverse;
    height: auto;
  }
}
