* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #fa541c;
  --footer-color: #fff8f6;
  --text-color: #3d3737;
  --gray-text: #85858a;
}

.site {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  min-width: 1280px;
  height: 60px;
  background-color: #fa541c;
}
