* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Medium", sans-serif;
}
body {
  padding-top: 132px;
}
:root {
  --main-color: #fa541c;
  --white-color: #fff8f6;
  --text-color: #3d3737;
  --gray-text: #85858a;
  --width-container: 1280px;
  --background: #fafafa;
}
header {
  /* fix cho nó giữ nguyên vị trí khi scroll */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* nhưng tôi muốn nó chiếm vị trí của nó trong flow của trang web */
}
.top-bar {
  background-color: var(--main-color);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: var(--width-container);
  height: 60px;
}
.site .site-info .site-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  color: var(--white-color);
}
/* user-action  */
.currency {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.user-actions .sign-in-btn {
  color: var(--white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  border: none;
  cursor: pointer;
  border-right: 1px solid var(--white-color);
  padding-right: 15px;

  background-color: var(--main-color);
  margin-right: 30px;
}
.user-actions .currency-icon svg {
  width: 18.319px;
  height: 10.781px;
}
.user-actions .currency-option {
  width: 32px;
  height: 27px;
  color: var(--white-color);
  line-height: 170%;
  margin-left: 8px;
  position: relative;
  display: inline-block;
}

/* css nav  */
nav {
  background-color: var(--background);
}
nav .site-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: var(--width-container);
  height: 72px;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: var(--width-container); /* Đảm bảo menu nằm trong phạm vi container */
}

.menu li {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* flex-basis: calc(
      (100% - 60px) / 4
    ); */
  /* 60px là tổng khoảng cách giữa 4 menu item (4 - 1) * 20px */
  text-align: center; /* Căn giữa nội dung trong menu item */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 186px;
}

/* Custom classes for menu items */
.menu-item {
  /* Add your custom styles for menu items here */
}

/* Optional styles for icons */

.icon-page {
  background-image: url("../image/page.svg");
  margin-top: 8px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  display: block;
}
.colorx {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px 3px;
  display: flex;
  align-items: center;
  position: relative; /* Cần đặt position: relative; cho phần tử cha */
}
.colorx-2 {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 5px 9px;
  margin-left: 10px;
}
.cart-count {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 5px;
  position: absolute;
  top: 1px;
  right: 3px;
  font-size: 10px;
  display: flex;
}
.icon-cart {
  background-image: url("../image/cart.svg");
  color: #ffffff;
  z-index: 1;
  display: block;
  margin-right: -12px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-search {
  background-image: url("../image/search.svg");
  width: 24px;

  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.search {
  display: flex;
  margin-right: 14px;
  border-radius: 4px;
  width: 215px;
  height: 40px;
  /* Drop */
  box-shadow: 0px 2px 100px 0px rgba(0, 0, 0, 0.1);
}

.search .input-search {
  padding: 8px 16px;
  position: relative;
  border-radius: 4px;
  background-color: var (--white-color);
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  outline: none;
  margin-top: 2px;
}
.input-search::placeholder {
  color: #85858a; /* Màu sắc của placeholder */
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.custom-icon-container .icon-cart {
  margin-right: 12px;
}
nav .custom-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* css banner  */
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* CSS cho biểu tượng giỏ hàng */
.cart-icon {
  margin-right: 8px;
}
.site-3 {
  height: 560px;
  width: var(--width-container);
  margin: 0 auto;
}
.banner-img img {
  display: block;
  width: 297px;
  height: 480px;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  /* .menu {
    display: none;
  }
  .logo .img {
    width: 100%;
    height: 100%;
  }
  nav .site-2 {
    flex-direction: column;
    flex: 1;
  } */
}
/* Media query cho responsive trên điện thoại di động */
/* Media query cho responsive trên điện thoại di động */
@media screen and (max-width: 768px) {
  /* Ẩn các menu item và các icon */
  nav .custom-icon-container {
    display: none;
  }
  nav .menu {
    display: none;
  }
  .menu-item {
    flex-basis: 100%;
  }
  .search {
    width: 80%;
  }
  .site-2 .search input {
    width: 100%;
  }

  /* Đảm bảo logo và ô input search hiển thị trên hai hàng riêng biệt */
  nav .site-2 {
    width: 100%;
    flex-direction: column;
    height: auto;

    /* cho vô giữa  */
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  /* CSS cho logo */
  .logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* CSS cho ô input search */
  .search {
    margin-top: 10px;
  }
  .banner {
    border-top: 1px solid #e8e8e8;
    margin-top: 50px;
    height: 100%;
    width: 100%;
  }
  .site-3 {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  .banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
