* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Medium", sans-serif;
}
:root {
  --main-color: #fa541c;
  --white-color: #fff8f6;
  --text-color: #3d3737;
  --gray-text: #85858a;
  --width-container: 1280px;
}
.top-bar {
  background-color: var(--main-color);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: var(--width-container);
  height: 60px;
}
.site .site-info .site-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  color: var(--white-color);
}
/* user-action  */
.currency {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.user-actions .sign-in-btn {
  color: var(--white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  border: none;
  cursor: pointer;
  border-right: 1px solid var(--white-color);
  padding-right: 15px;

  background-color: var(--main-color);
  margin-right: 30px;
}
.user-actions .currency-icon svg {
  width: 18.319px;
  height: 10.781px;
}
.user-actions .currency-option {
  width: 32px;
  height: 27px;
  color: var(--white-color);
  line-height: 170%;
  margin-left: 8px;
  position: relative;
  display: inline-block;
}

/* css nav  */
nav {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 72px;
}
nav .site-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  align-items: center;
  margin: 0 auto;
  width: var(--width-container);
  height: 72px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.menu {
  list-style-type: none;
  display: flex;
  margin: 0 186px;
}

.menu li {
  margin-right: 40px;
}

/* Custom classes for menu items */
.menu-item {
  /* Add your custom styles for menu items here */
}

/* Optional styles for icons */

.icon-page {
  background-image: url("../image/page.svg");
  margin-top: 8px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3d3737;
}
.icon-cart {
  background-image: url("../image/cart.svg");
  width: 24px;

  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-search {
  background-image: url("../image/search.svg");
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: center;
}

.search {
  display: flex;
  margin-right: 14px;
  border-radius: 4px;

  /* Drop */
  box-shadow: 0px 2px 100px 0px rgba(0, 0, 0, 0.1);
}

.search .input-search {
  width: 215px;
  height: 40px;
  padding: 8px 16px;
  position: relative;
  border-radius: 4px;
  background-color: var (--white-color);
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  outline: none;
  margin-top: 2px;
}
.custom-icon-container .icon-cart {
  margin-right: 12px;
}
nav .custom-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
