* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Medium", sans-serif;
}
:root {
  --main-color: #fa541c;
  --white-color: #fff8f6;
  --text-color: #3d3737;
  --gray-text: #85858a;
  --width-container: 1280px;
}
.top-bar {
  background-color: var(--main-color);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: var(--width-container);
  height: 60px;
}
.site .site-info .site-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  color: var(--white-color);
}
/* user-action  */
.currency {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.user-actions .sign-in-btn {
  color: var(--white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  border: none;
  cursor: pointer;
  border-right: 1px solid var(--white-color);
  padding-right: 15px;

  background-color: var(--main-color);
  margin-right: 30px;
}
.user-actions .currency-icon svg {
  width: 18.319px;
  height: 10.781px;
}
.user-actions .currency-option {
  width: 32px;
  height: 27px;
  color: var(--white-color);
  line-height: 170%;
  margin-left: 8px;
  position: relative;
  display: inline-block;
}

@media (max-width: 767px) {
  /* Điều chỉnh kiểu dáng và bố cục cho màn hình điện thoại di động */
  .site .site-info .site-desc {
    display: none;
  }
  .site {
    flex-direction: column-reverse;
  }
}
